/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
/*
  Hint: these tend to be
  1. element selectors
  2. concerned with color and typography
  3. basic element presenation
*/

/*
  Using a 4:3 modular scale
  http://www.modularscale.com/?18&px&1.333
*/

html {
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  font-family: Georgia, sans-serif, helvetica, verdana;
  line-height: 1.222em; /* 22 / 18 = 1.2222222 */
}

body {
  padding-top: 1.667em; /* 66 / 18 = 3.667 FIX THIS LATER */
  padding-right: 1.222em; /* 22 / 18 = 1.2222222 */
  padding-left: 1.222em; /* 22 / 18 = 1.2222222 */
  background-color: #f0f0ec; /* silver */
}

header {
  text-align: center;
  padding-top: 3.666em; /* 66 / 18 = 3.666 */
  color: black;
}

p {
  float: left;
  border:
}

main {
  padding-top: 0.611em; /* 11 / 18 = 0.6111111 */
  padding-bottom: 0.611em; /* 11 / 18 = 0.6111111 */
  padding-left: 0.611em; /* 11 / 18 = 0.6111111 */
  padding-right: 0.611em; /* 11 / 18 = 0.6111111 */
}

a {
  font-size: 0.844em; /* 13.503 / 16 = 0.844 */
}

h1 {
  font-size: 2.369em; /* 42.635 / 18 = 2.369 */
  line-height: 1.032em; /* 44 / 42.635 = 1.032 */
  padding-bottom: 0.516em; /* 22 / 42.635 = 0.516 */
}

h2 {
  padding-bottom: 0.688em; /* 22 / 31.984 = 0.688 */
  padding-top: 0.688em; /* 22 / 31.984 = 0.688 */
  font-weight: bolder;
  font-size: 1.777em; /* 31.994 / 18 = 1.777 */
  line-height: 1.032em; /* 33 / 31.984 = 1.032 */
}

ul li {
  list-style-type: none;
  list-style-position: inside;
  list-style: none;
  font-size: 1.333em; /* 23.994 / 18 = 1.333 */
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 1em; /* 18 / 18 = 1 */
  line-height: 1.6293em; /* 22 / 13.503 = 1.6293 */
  padding-bottom: 0.815em; /* 11 / 13.503 = 0.815 */
  padding-top: 0.815em; /* 11 / 13.503 = 0.815 */
}

img {
  padding-top: 0.815em; /* 11 / 13.503 = 0.815 */
  max-width: 75%;
  max-height: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #9db8c4;
  width: 100%;
  text-align: center;
  left: 0;
  position: absolute;
  padding-top: 0.611em; /* 11 / 18 = 0.6111111 */
  padding-bottom: 0.611em; /* 11 / 18 = 0.6111111 */
}


/* Modular Styles */
/*
  Repeating style patterns.
  Hint: these tend to be:
  1. classes and relationship selectors
  2. concerned with adjustments to base styles,
      spacing, color, etc. etc.
*/

#primary li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#navigation ul,
#navigation li {
  display: block;
  background-color: #9db8c4;
}

#navigation li {
  width: 33.3333333333%;
}

#navigation ul {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

a:visited {
  color: #9370DB;
}

#navigation a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding-top: 0.611em; /* 11 / 18 = 0.6111111 */
  padding-bottom: 0.611em; /* 11 / 18 = 0.6111111 */
  text-align: center;
}

#navigation a:hover {
  background-color: gray;
}

#header nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}


/* State Styles */
/*
  States of the browser and user access
  conditions.
  Hint: these tend to be:
  1. Driven by media queries
  2. Influenced by JavaScript
  3. Organized by Base, Layout, Module, State
*/

@media screen and (min-width: 375px) {
  img {
    max-height: 80%;
    max-width: 80%;
  }
}

@media screen and (min-width: 480px) {
  #navigation a {
    font-size: 1.125em; /* 18px / 16 = 1.125 */
  }

  img {
    max-height: 65%;
    max-width: 65%;
  }
}


@media screen and (min-width: 750px) {
  #navigation a {
    font-size: 1.5em; /* 23.994px / 16 = 1.5 */
  }

  img {
    max-height: 50%;
    max-width: 50%;
  }
}
